<div class="container">
  <ul class="nav nav-pills mt-4">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="users" routerLinkActive="active">User Accounts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="course" routerLinkActive="active">Course </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="maintenance" routerLinkActive="active" >Maintenance </a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
