<div class="container" style="margin-bottom: 50px;">
 <div class="row">
   <div class="col-4 mx-auto">
     <div class="card mt-4">
       <div class="card-body">
         <h4 class="display-4 text-center">
           Login
         </h4>
         <p class="text-muted text-center"> Login to your Codesim account.</p>
         <div class="border-bottom border-bottom-1 mb-4"></div>
           <div class="alert alert-danger" *ngIf="errorMsg" role="alert">
              {{errorMsg}}
           </div>
         <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
           <div class="form-group">
             <input type="email" class="form-control" placeholder="Username" formControlName="username" autofocus="autofocus">
           </div>
           <div class="form-group">
             <input type="password" formControlName="password" class="form-control" placeholder="Password">
           </div>
           <button type="submit" class="btn btn-primary btn-block" >Login</button>
         </form>
           <div class="mt-4 text-center">
              <h6 class="text-muted">New to codesim? <a href="javascript:void(0)" routerLink="/register" class="text-dark"> Signup up now</a>.</h6>
           </div>
         <div class="mt-4 text-center">
           <h6><a href="javascript:void(0)" routerLink="/forgot-password" class="text-dark"> Forgot password  </a>.</h6>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
