<li class="my-4">
  <a href="" class="text-decoration-none text-dark">
    <div class="card">
      <div class="card-body">

        <div class="row">

          <div class="col-10">
            <h6> Course Title
              <span class="badge badge-primary">Java</span>
            </h6>
          </div>

          <div class="col">
            <p class="small text-muted text-right"> Created:  </p>
          </div>

        </div>

        <div class="row">

          <div class="col">
            <div class="border-bottom border-bottom-1 mb-2">  </div>
          </div>

        </div>

        <div class="row">
          <div class="col-10">
            <p class="py-2 mb-0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid, atque beatae consectetur cumque distinctio dolores doloribus eveniet ex, facere, hic laboriosam laudantium libero natus officia sapiente sed vero vitae?</p>
          </div>

          <div class="col">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h6 class="text-muted">
              7 Modules
              &middot;
              30 Exercise
              &middot;
              25 Assignments
              &middot;
              10 Resources
            </h6>

          </div>
          <div class="col-3 text-right">
            <h6 class="text-muted">
              54 Students Enrolled
            </h6>
          </div>
        </div>
      </div>
    </div>

  </a>
</li>
