<mat-card class="my-2">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h6> Name <span class="text-muted">/ Course </span></h6>
      </div>
      <div class="col text-right">
        <p class="small"> Date Posted </p>
      </div>
    </div>
    <div class="border-bottom border-bottom-1"></div>
    <div class="post-content pt-2">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cupiditate eveniet fuga fugiat incidunt laboriosam minima nulla repellat soluta voluptas. A commodi eius harum in, laboriosam nulla numquam possimus recusandae!</p>
    </div>
  </div>
</mat-card>
