<div class="container">
  <div class="row mt-4">
    <div class="col ml-0 mr-2 p-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Currently Active Users </h5>
          <h6 class="display-4"> 232 </h6>
        </div>
      </div>
    </div>
    <div class="col mx-2 p-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Total Registered </h5>
          <h6 class="display-4"> 232 </h6>

        </div>
      </div>
    </div>
    <div class="col mx-2 p-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Pending Users </h5>
          <h6 class="display-4"> 232 </h6>
        </div>
      </div>
    </div>

  </div>

</div>
