<nav class="navbar navbar-expand-lg navbar-light bg-light-pure border-bottom border-bottom-1">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo2.png" style="height: 35px" alt="" class="img-fluid">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="!isLoggedIn; else elseBlock">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Log In</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link text-primary" >Register</a>
        </li>
      </ul>
      <ng-template #elseBlock>
        <button mat-button [matMenuTriggerFor]="menu">
          <img src="/assets/user.png" alt="" class="img-fluid rounded-circle p-1" style="height: 30px">
          {{ user.firstName }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="accountSettings()">Account Settings </button>
          <button mat-menu-item (click)="logoutModal()">Logout</button>
        </mat-menu>
      </ng-template>

    </div>
  </div>
</nav>

<div></div>
<router-outlet></router-outlet>


<nav class="navbar fixed-bottom border-top border-top-1 navbar-light bg-light-pure" >
  <div class="container py-2 pl-0">
    <p class="mb-0 text-muted">&copy; 2020 Code Checker and Simulator </p>
  </div>
</nav>
