<div class="container" style="margin-bottom: 50px;">
  <div class="row">
    <div class="col-5 mx-auto">
      <mat-card class="mt-4">

        <!--       <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
        <mat-card-content>
          <mat-card-title class="text-center mt-4">Register </mat-card-title>
          <mat-card-subtitle class="text-center mt-2"> Create your Codesim account now. </mat-card-subtitle>
          <div class="border-bottom border-bottom-1 mb-4"></div>
          <div class="alert alert-danger" *ngIf="errorMsg" role="alert">
            {{errorMsg}}
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-6 pr-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>First Name</mat-label>
                  <input matInput type="text" class="w-100" placeholder="First Name" formControlName="firstName" autofocus="autofocus">
                </mat-form-field>
              </div>
              <div class="col-6 pl-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Last Name</mat-label>
                  <input matInput type="text" class="w-100" placeholder="Last Name" formControlName="lastName" autofocus="autofocus">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-7 pr-0">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" class="w-100" placeholder="Email" formControlName="email" autofocus="autofocus">
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Username</mat-label>
                  <input matInput type="text" class="w-100" placeholder="Username" formControlName="username" autofocus="autofocus">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-6 pr-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password" placeholder="Password" formControlName="password">
                </mat-form-field>
              </div>
              <div class="col-6 pl-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password" formControlName="password" placeholder="Password" >
                </mat-form-field>
              </div>
            </div>


            <button mat-raised-button color="primary" class="btn-block">Register</button>
            <h4 class="form-text text-muted text-center pt-2">By clicking register you are agreeing to our terms. </h4>
          </form>
          <div class="mt-4 text-center">
            <h4 class="text-muted mb-0">New to codesim? <a href="javascript:void(0)" routerLink="/register" class="text-dark"> Signup up now</a>.</h4>
          </div>
          <div class="mt-2 text-center">
            <h4><a href="javascript:void(0)" routerLink="/forgost-password" class="text-dark"> Forgot password</a> </h4>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>


<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-5 mx-auto">-->
<!--      <div class="card mt-4">-->
<!--        <div class="card-body">-->
<!--          <h4 class="display-4 text-center">-->
<!--            Register-->
<!--          </h4>-->
<!--          <p class="text-muted text-center"> Create your Codesim account today.</p>-->
<!--          <div class="border-bottom border-bottom-1 mb-4"></div>-->
<!--          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">-->
<!--            <div class="row">-->
<!--              <div class="col-7">-->
<!--                <div class="form-group">-->
<!--                  <label>First Name</label>-->
<!--                  <input type="text" class="form-control" formControlName="firstName" placeholder="Juan">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-5">-->
<!--                <div class="form-group">-->
<!--                  <label>Last Name</label>-->
<!--                  <input type="text" class="form-control" formControlName="lastName" placeholder="Dela Cruz">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <div class="form-group">-->
<!--                  <label>Email</label>-->
<!--                  <input type="email" class="form-control" placeholder="Email" formControlName="email">-->
<!--                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone-->
<!--                    else.</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <div class="form-group">-->
<!--                  <label>Username</label>-->
<!--                  <input type="email" class="form-control" placeholder="Username" formControlName="username">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <div class="form-group">-->
<!--                  <label>Password</label>-->
<!--                  <input type="password" class="form-control" placeholder="Password" formControlName="password">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <div class="form-group">-->
<!--                  <label>Confirm Password</label>-->
<!--                  <input type="password" class="form-control" placeholder="Confirm Password">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary btn-block">Register</button>-->
<!--            <small class="form-text text-muted">By clicking register you are agreeing to our <a-->
<!--              href=""> terms</a>.</small>-->

<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
