<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="display-4 text-center">
            Register
          </h4>
          <p class="text-muted text-center"> Create your Codesim account today.</p>
          <div class="border-bottom border-bottom-1 mb-4"></div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-7">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" formControlName="firstName" placeholder="Juan">
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Dela Cruz">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Username</label>
                  <input type="email" class="form-control" placeholder="Username" formControlName="username">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" placeholder="Confirm Password">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
            <small class="form-text text-muted">By clicking register you are agreeing to our <a
              href=""> terms</a>.</small>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
