<div class="row">
  <div class="col">
    <h6 class="mt-2"> Create New Course  </h6>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <form action="">
          <h6> Course Information</h6>
          <div class="row">
            <div class="col-7">
              <div class="form-group">
                <label>Course Title</label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="Juan">
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label>Language</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Dela Cruz">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for=""> Course Description </label>
              <textarea name="" id="" cols="30" class="form-control" rows="6" placeholder="Describe your course here"></textarea>
            </div>
          </div>
          <h6 class="mt-4"> Modules <span class="text-muted"> You can add modules later if you wish to.</span></h6>

          <div class="row">
            <div class="col">
              <label for=""></label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

