<div class="row">
  <div class="col">
    <h6 class="mt-2"> Create New Course  </h6>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <form action="">
          <h6> Course Information</h6>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Course Title</label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="Basic Programming in Java">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Programming Language</label>
                <select class="form-control" name="" >
                  <option value="null" selected> Select... </option>
                  <option value="Java">Java</option>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="">Course Code </label>
                <input type="text" placeholder="COENXXXX" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for=""> Course Description </label>
              <textarea name="" id="" cols="30" class="form-control" rows="6" placeholder="Describe your course here"></textarea>
            </div>
          </div>
          <h6 class="mt-4"> Modules <span class="text-muted"> You can add modules later if you wish to.</span></h6>

          <div class="row">
            <div class="col">
              <button  class="btn btn-outline-primary" (click)="addModule(); $event.preventDefault()">
                <fa-icon [icon]="faPlus"></fa-icon>
                Add Module {{ moduleNumber }} </button>
            </div>
          </div>
          <div class="row">
            <div class="col text-right">
                <button class="btn btn-success">
                  <fa-icon [icon]="faSave"></fa-icon>
                  Create Course
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

