
<div class="card mt-4">
  <div class="card-body py-0">
    <ul class="list-group list-group-flush link-ul" >
      <li class="list-group-item pl-0" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="dashboard" class="text-decoration-none" >
          Dashboard</a>
      </li>
      <li class="list-group-item pl-0" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="courses" class="text-decoration-none" > Courses </a>
      </li>
      <li class="list-group-item pl-0" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="assignments" class="text-decoration-none">
          Assignments </a>
      </li>
      <li class="list-group-item pl-0" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="messages" class="text-decoration-none"> Messages </a>
      </li>
    </ul>
  </div>
</div>
